//variables
$blue: #0d6efd;
$white: #fff;
$black: #000;
$brown: #5c2222;
/*I do wonder what the purpose of having the three different dark greys is, since they look so similar. I'll keep them
separate for now.*/
$darkGrey: #303030;
$darkGrey2: #333;
$lightGrey: #ddd;
$blackBorder: rgba(0, 0, 0, .1);
$greyTransparent: rgba(255, 255, 255, .4);
$spacing: 1px;
$list-widths: 1,2,3,4,5,6,7,8,9,10,11,12;

//import nav here
@import "nav";

//The styles

//where brown is used
body {
  background: $brown url('/images/footer-bg.jpg') repeat;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.75em;
}

/*I could make another list and use interpolation on this one, but I don't feel like it.*/
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: $spacing;
  text-transform: uppercase;
  font-weight: 300;
  a {
    color: inherit;
    text-decoration: none;
  }
}

//where black is used
strong, b {
  font-weight: bold;
  color: $black;
}

em,
i {
  font-style: italic;
}

a {
  color: $blue;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

//where light grey is used
hr {
  border: 0;
  border-top: solid 1px $lightGrey;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

//There's actually a lot of headers on this page
@mixin make-header {
  margin-bottom: 2em;
  line-height: 1.7em;
  h2 {
    font-size: 2.5em;
  }
  &.byline {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.4em;
  }
}

header {
  @include make-header();
}

section, article {
  margin-bottom: 3em;
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  &.small {
    width: 900px;
  }
  &.big {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
  }
}

.row {
  margin-left: -50px;
  section, article {
    margin-bottom: 0;
  }
  [class*='column-'] {
    padding: 50px 0 0 50px;
    float: left;
    box-sizing: border-box;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
}

@mixin make-collumn($width) {
  width: nth($list-widths, $width);
}

/*I love that you can select elements like a for loop.
This makes slapping the same style on all of them so much
cleaner.*/
@each $num in $list-widths {
  .column-#{$num} {
    width: 100%;
  }
}

@media all and (min-width: 576px) {
  @each $num in $list-widths {
    .column-#{$num} {
      /*Each width is simply n/12, so column 3 has a width of 3/12 of 100%, or 25%*/
      width: calc((100% / 12) * $num);
    }
  }
}

.image {
  display: inline-block;
  img {
    display: block;
    width: 100%;
  }
  &.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
  }
  &.full {
    display: block;
    width: 100%;
    margin-bottom: 2em;
  }
  &.left {
    float: left;
    margin: 0 2em 2em 0;
  }
  &.centered {
    display: block;
    margin: 0 0 2em 0;
    img {
      margin: 0 auto;
      width: auto;
    }
  }
}

ul {
  &.default {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      padding: 2em 0em 1.25em 0em;
      border-top: 1px solid $darkGrey;
    }
    li:first-child {
      padding-top: 0em;
      border-top: none;
    }
    a {
      text-decoration: none;
      color: rgba(255, 255, 255, .5);
    }
    a:hover {
      text-decoration: underline;
    }
  }
  &.style1 {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 0.60em 0em;
      border-top: 1px solid;
      border-color: $blackBorder;
    }
    li:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
  &.style2 {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 1.90em 0em 1.60em 0em;
      border-top: 1px solid;
      border-color: $blackBorder;
    }
    li:first-child {
      padding-top: 0;
      border-top: 0;
    }
    img {
      float: left;
      padding-right: 1em;
    }
  }
  &.style5 {
    overflow: hidden;
    margin: 0em 0em 1em 0em;
    padding: 0em;
    list-style: none;
    li {
      float: left;
      padding: 0.25em 0.25em;
      line-height: 0;
    }
  }
}

/*If more colors existed, I'd add a variable onto this mixin to let the button color change.*/
@mixin make-button() {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.50em 1.5em;
  background: $blue;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: $white;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;
  &:hover {
    background: $blue;
    color: $white !important;
  }
}

.button {
  @include make-button();
}

.header {
  position: relative;
  background: $white;
  .container {
    position: relative;
    padding: 4em 0em;
  }
}

.logo {
  position: absolute;
  left: 0em;
  top: 3em;
  a {
    display: block;
    text-decoration: none;
    font-size: 2.8em;
    font-weight: 600;
  }  
}

.banner {
  position: relative;
  padding: 12em 0em;
  background: url('/images/banner.jpg') no-repeat center;
  background-size: cover;
  color: $white;
}

.page {
  position: relative;
  background: $white;
}

.main {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .2);
}

.sidebar header h2 {
  font-size: 1.6em;
}

.footer {
  margin-top: 1em;
  position: relative;
  color: $greyTransparent;
  h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: $white;
  }
  strong {
    color: rgba(255, 255, 255, .7);
  }
}

.copyright {
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid $darkGrey;
  letter-spacing: $spacing;
  text-align: center;
  color: $greyTransparent;
  a {
    text-decoration: none;
    color: $greyTransparent !important;
  }  
}

.marketing {
  position: relative;
  header h2 {
    font-size: 1.6em;
  }
}

.featured {
  position: relative;
  .divider {
    border-bottom: 1px solid $darkGrey;
  }
  .box {
    background: $white;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }  
}

//where dark grey 2 is used
.balloon {
  padding: 1.87em;
  background: url('/images/balloon-bg.jpg') repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: $darkGrey2;
  strong {
    color: $darkGrey2 !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}